.vscode
interactive-rating-component-main\.vscode
interactive-rating-component-main\design
interactive-rating-component-main\README-template.md
interactive-rating-component-main\style-guide.md
interactive-rating-component-main\README.md